---
// \source\html\components\tooltip.astro
const { TITLE, ALT_TITLE, DESCRIPTION, NOTES, TAGS, TYPE, STUDIO, ICON_YEAR, RATING } = Astro.props;


/// populate variables for use in template
// if props are null/undefined, set to error message, allow empty strings/arrays
let title = TITLE ?? "[ASTRO COMPONENT TOOLTIP ERROR :: TITLE MISSING]";
let alt_title = ALT_TITLE ?? "[ASTRO COMPONENT TOOLTIP ERROR :: ALT_TITLE MISSING]";
let type = TYPE ?? "[ASTRO COMPONENT TOOLTIP ERROR :: TYPE MISSING]";
let studio = STUDIO ?? "[ASTRO COMPONENT TOOLTIP ERROR :: STUDIO MISSING]";
let iconYear = ICON_YEAR ?? "[ASTRO COMPONENT TOOLTIP ERROR :: ICON_YEAR MISSING]";
let rating = RATING ?? "[ASTRO COMPONENT TOOLTIP ERROR :: RATING MISSING]";
let description = DESCRIPTION ?? "[ASTRO COMPONENT TOOLTIP ERROR :: DESCRIPTION MISSING]";
let notes = NOTES ?? ["[ASTRO COMPONENT TOOLTIP ERROR :: NOTES MISSING]"];
let Tags = TAGS ?? ["[ASTRO COMPONENT TOOLTIP ERROR :: TAGS MISSING]"];


///
// this is the template for generating tooltips for anime cards
///
---
<div>
    <h5 class="theme-font">{title}</h5>
    { alt_title && (<h6 class="theme-font tooltip-alt">Alt title: {alt_title}</h6>) }
    { (type && studio && iconYear && rating) &&
        (<ul class="entryBar">
            { type && <li class="type">{type}</li> }
            { studio && <li>{studio}</li> }
            { iconYear && <li class="iconYear">{iconYear}</li> }
            { rating && (
                <li>
                    <div class="ttRating">{rating}</div>
                </li>
            ) }
        </ul>)
    }
    { description && (<p>{description}</p>) }
    { notes.length > 0 && (
        <div class="tooltip notes">
            { notes && (
                notes.map((note: string) => (
                    <p>{note}</p>
                ))
            )}
        </div>
    )}
    { Tags.length > 0 && (
        <div class="tags">
            <h4>Tags</h4>
            <ul>
                {Tags.map((tag: string) => (
                    <li>{tag}</li>
                ))}
            </ul>
        </div>
    )}
</div>