---
// Capacitor/source/html/components/_Nav.astro
import * as buildconf from "@BuildConfigs/main.js";
---


                <a itemprop="url" id="siteLogo" class="siteLogo" href="/index.html" aria-label="Anime Dimension home">
                    <svg id="logo" data-name={buildconf.data_json.siteName1} xmlns="http://www.w3.org/2000/svg" viewBox="0 0 725 95" width="720" height="95" fill="#FC5342" role="img">
                        <title>Anime Dimension</title>
                        <g id="desktop" class="logo">
                            <!-- a -->
                            <path d="M 43 28.4 a 3.48 3.48 0 0 0 -3.52 3.52 V 33.6 a 19.82 19.82 0 0 0 -13.26 -5.2 C 15 28.4 5.91 38 5.91 49.75 S 15 71.11 26.22 71.11 a 19.77 19.77 0 0 0 13.26 -5.27 v 1.75 a 3.52 3.52 0 1 0 7 0 V 31.92 A 3.47 3.47 0 0 0 43 28.4 Z M 39.48 49.75 c 0 7.9 -5.95 14.32 -13.26 14.32 S 13 57.65 13 49.75 S 18.9 35.36 26.22 35.36 S 39.48 41.81 39.48 49.75 Z"> </path>
                            <!-- n -->
                            <path d="M 77 28.48 a 17.59 17.59 0 0 0 -10.68 3.61 V 32 a 3.48 3.48 0 1 0 -7 0 V 68.73 l 0.2 0.19 a 1.59 1.59 0 0 0 0.22 0.43 a 3.73 3.73 0 0 0 2.18 1.7 l 0.92 0.06 a 3.33 3.33 0 0 0 2.69 -1.31 a 3.37 3.37 0 0 0 0.7 -1.5 l 0.05 -0.19 v -22 A 10.85 10.85 0 0 1 77 35.52 a 10.61 10.61 0 0 1 10.61 10.6 V 67.59 a 3.52 3.52 0 0 0 7 0 V 46.12 A 17.66 17.66 0 0 0 77 28.48 Z"> </path>
                            <!-- i -->
                            <path d="M 112.4 28.4 a 3.47 3.47 0 0 0 -3.52 3.52 V 67.59 a 3.56 3.56 0 0 0 7.12 0 V 31.92 A 3.52 3.52 0 0 0 112.4 28.4 Z"> </path>
                            <!-- dot for the i -->
                            <path d="M 112.05 12.13 a 3.62 3.62 0 1 0 0 7.22 a 3.77 3.77 0 0 0 4 -3.65 A 3.76 3.76 0 0 0 112.05 12.13 Z"> </path>
                            <!-- m -->
                            <path d="M 177.36 28.48 a 17.92 17.92 0 0 0 -14.19 7.08 A 17.65 17.65 0 0 0 138.43 32 v -0.1 a 3.48 3.48 0 0 0 -7 0 V 68.33 l 0.08 0.24 a 3.68 3.68 0 0 0 2.94 2.53 h 0.66 a 2.09 2.09 0 0 0 0.93 -0.18 a 2.68 2.68 0 0 0 0.8 -0.43 a 3.33 3.33 0 0 0 1.55 -2.83 V 46.12 a 10.61 10.61 0 1 1 21.21 0 V 68.73 l 0.08 0.08 V 69 l 0.1 0.1 l 0.06 1.15 h 0.93 a 2 2 0 0 0 0.63 0.43 a 2.34 2.34 0 0 0 0.53 0.27 a 1.79 1.79 0 0 0 0.78 0.19 h 0.41 a 3.82 3.82 0 0 0 1.78 -0.47 a 3.63 3.63 0 0 0 1.66 -1.91 l 0.08 -0.24 v -0.06 a 1.67 1.67 0 0 0 0.08 -0.52 V 46.12 a 10.65 10.65 0 0 1 10.6 -10.68 a 10.78 10.78 0 0 1 10.69 10.7 V 67.67 a 3.44 3.44 0 0 0 3.43 3.44 A 3.48 3.48 0 0 0 195 67.67 V 46.12 A 17.66 17.66 0 0 0 177.36 28.48 Z"> </path>
                            <!-- e -->
                            <path d="M 226.18 28.4 c -11.46 0 -20.79 9.61 -20.79 21.43 a 21.07 21.07 0 0 0 20.79 21.28 a 20.42 20.42 0 0 0 17.35 -9.75 a 3.63 3.63 0 0 0 -1.09 -4.82 l -0.11 -0.08 a 3.51 3.51 0 0 0 -2.67 -0.37 a 3.38 3.38 0 0 0 -2.09 1.56 a 13.33 13.33 0 0 1 -11.39 6.42 a 13.94 13.94 0 0 1 -13.58 -12 h 30.69 a 3.4 3.4 0 0 0 3.52 -3.36 v -0.44 C 245.92 36.94 237.05 28.4 226.18 28.4 Z M 239 45.1 H 213.13 a 13.72 13.72 0 0 1 13.05 -9.66 A 13.54 13.54 0 0 1 239 45.1 Z"> </path>
                            <!-- smile -->
                            <path d="M 313.36 60.86 A 3.35 3.35 0 0 0 309 62.63 a 23.6 23.6 0 0 1 -43.42 0 a 3.34 3.34 0 1 0 -6.15 2.62 a 30.29 30.29 0 0 0 55.72 0 A 3.36 3.36 0 0 0 313.36 60.86 Z"> </path>
                            <!-- d -->
                            <path d="M 355 71.6 A 20.2 20.2 270 0 0 368.4 66.4 V 68.1 A 3.6 3.6 270 0 0 375.5 68.1 V 15.9 A 3.6 3.6 270 0 0 368.4 15.9 V 34.3 A 20.1 20.1 270 0 0 355 29.1 C 343.6 29.1 334.3 38.7 334.3 50.4 A 21 21 270 0 0 355 71.6 Z M 341.4 50.4 C 341.4 42.6 347.5 36.2 355 36.2 C 362.4 36.3 368.4 42.7 368.4 50.4 V 51 C 368.1 58.4 362.1 64.5 355 64.5 A 13.8 13.8 270 0 1 341.4 50.4 Z"> </path>
                            <!-- i -->
                            <path d="M 390.49 28.4 a 3.47 3.47 0 0 0 -3.52 3.52 V 67.59 a 3.56 3.56 0 0 0 7.12 0 V 31.92 A 3.52 3.52 0 0 0 390.49 28.4 Z"> </path>
                            <!-- dot for the i -->
                            <path d="M 390.14 12.13 a 3.62 3.62 0 1 0 0 7.22 a 3.77 3.77 0 0 0 4 -3.65 A 3.76 3.76 0 0 0 390.14 12.13 Z"> </path>
                            <!-- m -->
                            <path d="M 450 28.48 a 17.92 17.92 0 0 0 -14.19 7.08 A 17.65 17.65 0 0 0 411.07 32 v -0.1 a 3.48 3.48 0 0 0 -7 0 V 68.33 l 0.08 0.24 a 3.68 3.68 0 0 0 2.94 2.53 h 0.66 a 2.09 2.09 0 0 0 0.93 -0.18 a 2.68 2.68 0 0 0 0.8 -0.43 a 3.33 3.33 0 0 0 1.55 -2.83 V 46.12 a 10.61 10.61 0 1 1 21.21 0 V 68.73 l 0.08 0.08 V 69 l 0.1 0.1 l 0.06 1.15 h 0.93 a 2 2 0 0 0 0.63 0.43 a 2.34 2.34 0 0 0 0.53 0.27 a 1.79 1.79 0 0 0 0.78 0.19 h 0.41 a 3.82 3.82 0 0 0 1.78 -0.47 a 3.63 3.63 0 0 0 1.66 -1.91 l 0.08 -0.24 v -0.06 a 1.67 1.67 0 0 0 0.08 -0.52 V 46.12 a 10.65 10.65 0 0 1 10.6 -10.68 a 10.78 10.78 0 0 1 10.69 10.7 V 67.67 a 3.44 3.44 0 0 0 3.43 3.44 A 3.48 3.48 0 0 0 467.64 67.67 V 46.12 A 17.66 17.66 0 0 0 450 28.48 Z"> </path>
                            <!-- e -->
                            <path d="M 495 28.4 c -11.47 0 -20.79 9.61 -20.79 21.43 a 21.06 21.06 0 0 0 20.79 21.28 A 20.39 20.39 0 0 0 512.39 61.36 a 3.62 3.62 0 0 0 -1.08 -4.82 l -0.12 -0.08 a 3.48 3.48 0 0 0 -2.66 -0.37 A 3.35 3.35 0 0 0 506.39 57.65 a 13.33 13.33 0 0 1 -11.39 6.42 a 14 14 0 0 1 -13.59 -12 h 30.7 a 3.4 3.4 0 0 0 3.52 -3.36 v -0.44 C 514.74 36.94 505.87 28.4 495 28.4 Z m 12.84 16.7 H 481.95 a 13.72 13.72 0 0 1 13.05 -9.66 A 13.56 13.56 0 0 1 507.84 45.1 Z"> </path>
                            <!-- n -->
                            <path d="M 540 28.48 a 17.59 17.59 0 0 0 -10.68 3.61 V 32 a 3.48 3.48 0 1 0 -7 0 V 68.73 l 0.2 0.19 a 1.59 1.59 0 0 0 0.22 0.43 a 3.73 3.73 0 0 0 2.18 1.7 l 0.92 0.06 a 3.33 3.33 0 0 0 2.69 -1.31 a 3.37 3.37 0 0 0 0.7 -1.5 l 0.05 -0.19 v -22 A 10.85 10.85 0 0 1 540 35.52 a 10.61 10.61 0 0 1 10.61 10.6 V 67.59 a 3.52 3.52 0 0 0 7 0 V 46.12 A 17.66 17.66 0 0 0 540 28.48 Z"> </path>
                            <!-- s -->
                            <path d="M 581.543 63.86 A 21.224 21.224 0 0 0 584.53 63.669 Q 590.333 62.839 590.333 58.414 A 6.86 6.86 0 0 0 590.332 58.294 A 2.832 2.832 0 0 0 589.259 56.024 A 4.388 4.388 0 0 0 588.574 55.56 A 14.48 14.48 0 0 0 586.901 54.774 Q 585.683 54.289 584.18 53.899 A 605.391 605.391 0 0 0 581.421 53.191 A 778.241 778.241 0 0 0 578.418 52.435 A 28.527 28.527 0 0 1 572.559 50.286 A 13.813 13.813 0 0 1 569.325 48.074 A 12.399 12.399 0 0 1 568.066 46.722 A 7.958 7.958 0 0 1 566.407 42.768 A 10.614 10.614 0 0 1 566.309 41.302 A 17.873 17.873 0 0 1 566.47 38.837 Q 566.705 37.147 567.285 35.784 A 10.564 10.564 0 0 1 570.215 31.829 Q 573.842 28.708 579.946 28.283 A 28.609 28.609 0 0 1 581.934 28.216 Q 587.988 28.216 593.555 30.169 Q 594.629 30.56 595.264 31.487 A 3.688 3.688 0 0 1 595.764 32.516 A 3.216 3.216 0 0 1 595.898 33.44 A 2.432 2.432 0 0 1 595.605 34.579 Q 595.377 35.015 594.971 35.442 A 4.507 4.507 0 0 1 594.453 35.915 Q 594.16 36.139 593.873 36.264 A 1.772 1.772 0 0 1 593.164 36.419 A 5.064 5.064 0 0 1 592.454 36.365 Q 592.093 36.313 591.683 36.213 A 11.698 11.698 0 0 1 591.016 36.028 A 26.368 26.368 0 0 0 585.815 35.008 A 32.877 32.877 0 0 0 582.617 34.857 A 21.59 21.59 0 0 0 580.09 34.994 Q 577.332 35.32 575.684 36.419 A 6.516 6.516 0 0 0 574.46 37.453 A 4.087 4.087 0 0 0 573.34 40.276 A 4.678 4.678 0 0 0 573.52 41.616 A 3.328 3.328 0 0 0 575.098 43.597 A 14.948 14.948 0 0 0 576.679 44.39 Q 577.471 44.733 578.391 45.043 A 28.698 28.698 0 0 0 579.541 45.403 A 76.369 76.369 0 0 0 582.349 46.16 A 95.503 95.503 0 0 0 585.4 46.868 A 24.043 24.043 0 0 1 589.685 48.204 A 21.195 21.195 0 0 1 591.211 48.919 A 13.002 13.002 0 0 1 594.64 51.402 Q 597.307 54.161 597.452 58.299 A 13.722 13.722 0 0 1 597.461 58.782 A 11.057 11.057 0 0 1 596.713 62.919 A 10.088 10.088 0 0 1 593.555 67.083 A 13.478 13.478 0 0 1 588.689 69.692 Q 585.752 70.599 581.934 70.599 A 30.562 30.562 0 0 1 572.534 69.187 A 27.516 27.516 0 0 1 567.48 66.985 A 3.989 3.989 0 0 1 566.711 66.28 A 2.741 2.741 0 0 1 566.064 64.593 A 4.081 4.081 0 0 1 566.062 64.452 A 3.316 3.316 0 0 1 566.943 62.151 A 4.184 4.184 0 0 1 567.499 61.633 Q 568.161 61.126 568.848 61.126 Q 569.824 61.126 571.387 61.81 A 23.761 23.761 0 0 0 579.154 63.762 A 28.594 28.594 0 0 0 581.543 63.86 Z"> </path>
                            <!-- i -->
                            <path d="M 614.355 32.317 L 614.355 66.595 Q 614.355 68.06 613.379 69.134 A 3.23 3.23 0 0 1 611.045 70.203 A 4.382 4.382 0 0 1 610.84 70.208 A 3.744 3.744 0 0 1 609.287 69.891 A 3.637 3.637 0 0 1 608.203 69.134 A 3.673 3.673 0 0 1 607.381 67.922 A 3.481 3.481 0 0 1 607.129 66.595 L 607.129 32.317 A 4.169 4.169 0 0 1 607.306 31.073 A 3.332 3.332 0 0 1 608.203 29.632 A 3.665 3.665 0 0 1 610.791 28.607 A 4.726 4.726 0 0 1 610.84 28.607 A 3.873 3.873 0 0 1 612.044 28.786 A 3.176 3.176 0 0 1 613.379 29.632 A 3.477 3.477 0 0 1 614.287 31.48 A 4.883 4.883 0 0 1 614.355 32.317 Z"> </path>
                            <!-- dot for the i -->
                            <path d="M 615.137 16.302 L 615.137 16.595 A 4.332 4.332 0 0 1 614.871 18.137 A 3.893 3.893 0 0 1 613.965 19.524 A 3.953 3.953 0 0 1 611.148 20.695 A 5.189 5.189 0 0 1 611.035 20.696 L 610.547 20.696 A 4.302 4.302 0 0 1 609.13 20.472 A 3.67 3.67 0 0 1 607.666 19.524 A 4.003 4.003 0 0 1 606.551 16.893 A 5.277 5.277 0 0 1 606.543 16.595 L 606.543 16.302 A 4.332 4.332 0 0 1 606.809 14.759 A 3.893 3.893 0 0 1 607.715 13.372 A 3.854 3.854 0 0 1 610.495 12.201 A 4.673 4.673 0 0 1 610.547 12.2 L 611.035 12.2 A 4.332 4.332 0 0 1 612.577 12.466 A 3.893 3.893 0 0 1 613.965 13.372 A 3.953 3.953 0 0 1 615.136 16.189 A 5.189 5.189 0 0 1 615.137 16.302 Z"> </path>
                            <!-- o -->
                            <path d="M 652.009 29.11 A 18.439 18.439 0 0 1 660.254 34.075 A 19.676 19.676 0 0 1 665.552 45.672 Q 665.763 47.466 665.723 49.407 A 26.692 26.692 0 0 1 664.892 56.241 A 19.566 19.566 0 0 1 660.254 64.739 A 18.93 18.93 0 0 1 648.732 70.384 A 26.389 26.389 0 0 1 645.313 70.599 A 24.184 24.184 0 0 1 638.861 69.783 A 17.683 17.683 0 0 1 630.469 64.739 A 19.839 19.839 0 0 1 625.137 53.784 A 27.763 27.763 0 0 1 624.805 49.407 A 26.262 26.262 0 0 1 625.601 42.765 A 18.996 18.996 0 0 1 630.469 34.075 A 18.085 18.085 0 0 1 641.067 28.549 A 26.018 26.018 0 0 1 645.313 28.216 A 23.89 23.89 0 0 1 652.009 29.11 Z M 636.377 60.687 Q 638.281 62.396 640.674 63.177 A 15.933 15.933 0 0 0 643.607 63.848 A 13.491 13.491 0 0 0 645.313 63.958 A 14.004 14.004 0 0 0 648.882 63.481 A 16.451 16.451 0 0 0 649.902 63.177 A 12.025 12.025 0 0 0 653.954 60.854 A 13.811 13.811 0 0 0 654.199 60.638 Q 658.496 56.732 658.496 49.31 Q 658.496 42.083 654.199 38.079 A 12.132 12.132 0 0 0 646.085 34.861 Q 645.703 34.849 645.313 34.857 Q 637.415 34.857 633.952 41.307 A 16.632 16.632 0 0 0 633.301 42.669 A 14.657 14.657 0 0 0 632.422 45.77 Q 632.129 47.454 632.129 49.407 A 21.857 21.857 0 0 0 632.345 52.566 Q 632.632 54.53 633.301 56.146 A 14.394 14.394 0 0 0 634.56 58.554 A 10.856 10.856 0 0 0 636.377 60.687 Z"> </path>
                            <!-- n -->
                            <path d="M 683.105 42.669 L 683.105 66.595 A 3.464 3.464 0 0 1 682.065 69.1 A 4.424 4.424 0 0 1 682.031 69.134 A 3.673 3.673 0 0 1 680.82 69.956 A 3.481 3.481 0 0 1 679.492 70.208 A 3.464 3.464 0 0 1 676.987 69.167 A 4.424 4.424 0 0 1 676.953 69.134 A 3.673 3.673 0 0 1 676.131 67.922 A 3.481 3.481 0 0 1 675.879 66.595 L 675.879 32.317 A 3.933 3.933 0 0 1 676.143 30.856 A 3.628 3.628 0 0 1 676.904 29.681 A 3.407 3.407 0 0 1 679.389 28.608 A 4.469 4.469 0 0 1 679.492 28.607 Q 680.957 28.607 682.031 29.632 A 3.421 3.421 0 0 1 683.079 31.814 A 4.707 4.707 0 0 1 683.105 32.317 L 683.105 35.638 Q 686.328 32.317 688.672 30.853 A 21.482 21.482 0 0 1 692.265 29.145 Q 694.567 28.318 696.774 28.227 A 13.181 13.181 0 0 1 697.314 28.216 A 23.338 23.338 0 0 1 699.989 28.36 Q 701.385 28.521 702.557 28.863 A 11.011 11.011 0 0 1 704.102 29.437 A 12.65 12.65 0 0 1 708.594 32.903 A 15.586 15.586 0 0 1 712.127 41.081 A 20.821 20.821 0 0 1 712.305 43.841 L 712.305 66.595 A 3.464 3.464 0 0 1 711.264 69.1 A 4.424 4.424 0 0 1 711.23 69.134 A 3.673 3.673 0 0 1 710.019 69.956 A 3.481 3.481 0 0 1 708.691 70.208 A 3.464 3.464 0 0 1 706.186 69.167 A 4.424 4.424 0 0 1 706.152 69.134 A 3.673 3.673 0 0 1 705.33 67.922 A 3.481 3.481 0 0 1 705.078 66.595 L 705.078 44.622 A 15.904 15.904 0 0 0 704.841 41.789 Q 704.554 40.205 703.919 38.944 A 8.161 8.161 0 0 0 703.027 37.542 A 6.287 6.287 0 0 0 700.104 35.523 Q 698.486 34.954 696.289 34.954 Q 689.258 34.954 683.105 42.669 Z"> </path>
                        </g>
                        <g id="tablet" class="logo">
                            <!-- a -->
                            <path class="st0" d="M43 28.4c-1.9 0-3.5 1.5-3.5 3.4 0 0 0 .1 0 .1v1.7c-3.6-3.3-8.3-5.2-13.3-5.2C15 28.4 5.9 38 5.9 49.8S15 71.1 26.2 71.1c4.9 0 9.7-1.9 13.3-5.3v1.8c-.2 1.9 1.2 3.7 3.1 3.9 1.9.2 3.7-1.2 3.9-3.1 0-.2 0-.5 0-.7V31.9C46.5 30 45 28.4 43 28.4 43 28.4 43 28.4 43 28.4zM39.5 49.8c0 7.9-6 14.3-13.3 14.3S13 57.7 13 49.8s5.9-14.4 13.2-14.4S39.5 41.8 39.5 49.8z"></path>
                            <!-- smile -->
                            <path class="st0" d="M113.8 60.9c-1.7-.7-3.6.1-4.4 1.8-5.1 12-19 17.6-31 12.5-5.6-2.4-10.1-6.9-12.5-12.5-.7-1.7-2.7-2.5-4.4-1.8-1.7.7-2.5 2.7-1.8 4.4 6.6 15.4 24.4 22.5 39.7 16 7.2-3.1 12.9-8.8 16-16C116.3 63.5 115.5 61.6 113.8 60.9z"></path>
                            <!-- d -->
                            <path class="st0" d="M149.9 71.6C154.9 71.6 159.6 69.7 163.3 66.4V68C163.3 70 164.9 71.6 166.9 71.6S170.5 70 170.5 68V15.8C170.5 13.8 168.9 12.2 166.9 12.2S163.3 13.8 163.3 15.8V34.3C159.6 31 154.8 29.1 149.9 29.1 138.5 29.1 129.2 38.6 129.2 50.4 129.1 62 138.4 71.4 149.9 71.6ZM136.3 50.4C136.3 42.6 142.4 36.2 149.9 36.2 157.3 36.3 163.3 42.7 163.3 50.4V51C163 58.4 157 64.5 149.9 64.5 142.3 64.3 136.2 58 136.3 50.4Z"></path>
                        </g>
                    </svg>
                </a>

                <div class="w-100">
                    <button class="btn d-none d-md-block d-lg-none" id="toggleSidebar" aria-label="Toggle sidebar">
                        <i class="bi bi-list fs-4"></i>
                    </button>
                </div>
                <!-- Auth area: loader by default, then JS swaps to user or buttons -->
                <div class="auth-loading" aria-live="polite" aria-busy="true" title="Loading">
                    <i class="bi bi-arrow-repeat ad-spin" aria-hidden="true"></i>
                </div>
                <div class="auth-buttons d-none" aria-label="Authentication actions">
                    <a href="/auth/index.html" class="btn btn-outline-secondary btn-sm">Login</a>
                    <a href="/auth/register.html" class="btn btn-primary btn-sm">Register</a>
                </div>
                <div id="siteUser" class="d-none"></div>
                <ul id="nav-list" class="nav-list nav w-100">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="/index.html">
                            <i class="nav-icon bi bi-speedometer2"></i><span class="nav-label">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="/anime/all.html">
                            <i class="nav-icon bi bi-bar-chart-line"></i><span class="nav-label">All Anime</span>
                        </a>
                    </li>
                </ul>

                <script is:inline>
                    (() => {
                        window.getApiBase = () => {
                            const probe = document.querySelector('[data-api-base]');
                            const base = probe && probe.getAttribute('data-api-base');
                            return (base || 'https://api.anime-dimension.com').replace(/\/$/, '');
                        };

                        
                        const siteUser = document.getElementById('siteUser');
                        const authBtns = document.querySelector('.auth-buttons');
                        const authLoading = document.querySelector('.auth-loading');

                        // Expose a global Logout() for compatibility with existing markup
                        // and also bind click handler on the generated logout link.
                        const doLogout = async () => {
                            try {
                                await fetch(`${window.getApiBase()}/api/logout`, {
                                    method: 'POST',
                                    credentials: 'include',
                                });
                            } catch {
                                // ignore
                            }
                            // Hard reload to clear any UI state
                            window.location.href = '/';
                        };

                        window.Logout = doLogout;

                        (async () => {
                            let isLoggedIn = false;
                            try {
                                const res = await fetch(`${window.getApiBase()}/api/login/validateState?caller=api_nav`, {
                                    method: 'PUT',
                                    credentials: 'include',
                                });
                                const data = await res.json().catch(() => ({}));
                                if (data && data.status === 'ok' && data.data) {
                                    isLoggedIn = true;

                                    const userName = data.data.user_name || undefined;
                                    const userId = data.data.user_id || undefined;

                                    const profileUrl = `/users/user.html?username=${encodeURIComponent(userName)}`;
                                    const avatarUrl = `/images/users/avatars/${encodeURIComponent(userId || 'default')}.webp`;

                                    const html = `
                                        <div class="loggedIn">
                                            <a class="user-avatar-link" href="${profileUrl}" title="${userName}">
                                                <img class="avatar user-avatar" alt="${userName}'s avatar" src="${avatarUrl}" onerror="this.src='/assets/inc/img/logos/dimension-kun.svg'">
                                            </a>
                                            <ul class="loggedInOptions">
                                                <li><a href="${profileUrl}">Profile</a></li>
                                                <li><a href="https://anime-dimension.com/users/list/user_anime?status=watched&username=${encodeURIComponent(userName)}">My anime</a></li>
                                                <!--<li><a href="${profileUrl}/manga/reading.html">My manga</a></li>
                                                <li><a href="${profileUrl}/lists.html">Custom lists</a></li>
                                                <li><a href="${profileUrl}/challenges.html">Challenges</a></li>-->
                                                <hr>
                                                <li class="navMenuIcon"><a href="/users/profile_edit_profile.html"><span class="editProfileIcon"></span>Settings</a></li>
                                                <li class="navMenuIcon signOut"><a href="#" class="logout-link"><span class="signOutIcon"></span>Logout</a></li>
                                            </ul>
                                        </div>`;

                                    if (siteUser) {
                                        siteUser.innerHTML = html;
                                        siteUser.classList.remove('d-none');
                                    }

                                    const logoutLink = siteUser?.querySelector('.logout-link');
                                    logoutLink?.addEventListener('click', (e) => { e.preventDefault(); doLogout(); });
                                }
                            } catch {
                                // ignore network/parse errors; fall back to auth buttons
                            } finally {
                                // Hide loader and show the appropriate UI
                                if (authLoading) authLoading.classList.add('d-none');
                                if (isLoggedIn == false) {
                                    if (authBtns) authBtns.classList.remove('d-none');
                                } else {
                                    if (authBtns) authBtns.classList.add('d-none');
                                }
                            }
                        })();
                    })();
                </script>
